@model WebApplication1.Models.Order
<link rel="stylesheet" href="~/css/UserNice.css" asp-append-version="true"/>
@{
ViewData["Title"] = "User Home Page";
}
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <h1>Welcome back, @User.Identity.Name!</h1>
}
else
{
<p>Please <a asp-controller="Account" asp-action="LogIn">log in</a>.</p>
}
@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success">
    @TempData["SuccessMessage"]
</div>
}

<div class="image-container">
    <img src="~/images/bk7.png" alt="Background Image">
</div>


<div class="button-group">
    <div>
        <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("MakeOrder", "Account")'">Request Delivery Order</button>
        <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("PlaceOrder", "Account")'">Send Package to an User</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" onclick="window.location='@Url.Action("UserOrders", "Account")'">View All Orders</button>
        <button type="button" class="btn btn-secondary" onclick="window.location='@Url.Action("ReceivingOrdersFromUsers", "Account")'">View Incoming Packages</button>

    </div>
    <div>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>


