@{
    ViewData["Title"] = "Admin Home Page";
}

<h1>Admin Dashboard</h1>

<form method="post" action="/Admin/AddAdmin">
    <label for="usernameOrEmail">Enter username or email to promote to admin:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" required />
    <button type="submit">Promote to Admin</button>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<a href="@Url.Action("Create", "SuperBox")" class="btn btn-primary mt-3">
    Create New SuperBox
</a>

<a href="@Url.Action("ViewSuperBox", "SuperBox")" class="btn btn-primary mt-3">
    View All SuperBoxes
</a>
<p></p>

<button type="button" class="btn-secondary" onclick="window.location='@Url.Action("ViewAllOrders", "Account")'">View All Orders</button>
<p></p><p></p><p></p>
<div>
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
<p></p><p></p><p></p>

