@{
ViewData["Title"] = "Admin Home Page";
}
<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true"/>

<h1 class="page-title">Admin Dashboard</h1>

<form method="post" action="/Admin/AddAdmin" class="form-container">
    <label for="usernameOrEmail" class="form-label">Enter username or email to promote to admin:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" required class="form-input" />
    <button type="submit" class="btn btn-primary">Promote to Admin</button>
</form>

@if (TempData["Message"] != null)
{
<div class="alert alert-success">
    @TempData["Message"]
</div>
}

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>
}

<div class="button-group">
    <a href="@Url.Action("Create", "SuperBox")" class="btn btn-secondary">
        Create New SuperBox
    </a>

    <a href="@Url.Action("ViewSuperBox", "SuperBox")" class="btn btn-secondary">
        View All SuperBoxes
    </a>

    <button type="button" class="btn btn-secondary" onclick="window.location='@Url.Action("ViewAllOrders", "Account")'">View All Orders</button>

    <a href="@Url.Action("ChooseSuperBox", "SuperBox")" class="btn btn-secondary">
        Inspect a SuperBox
    </a>

    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
